<h2>Cadastro</h2>

<label>
  <input type="radio" name="userType" [(ngModel)]="userType" value="usuario" (change)="onUserTypeChange()" /> Usuário
</label>
<label>
  <input type="radio" name="userType" [(ngModel)]="userType" value="jornalista" (change)="onUserTypeChange()" /> Jornalista
</label>

<form #formRef="ngForm" (submit)="onSubmit(formRef)">

  <!-- Campos para Usuários -->
  <div *ngIf="userType === 'usuario'">
    <input type="text" name="nome" placeholder="Nome" [(ngModel)]="userData.nome" />
    <input type="email" name="email" placeholder="E-mail" [(ngModel)]="userData.email" />
    <input type="date" name="dataNascimento" placeholder="Data de Nascimento" [(ngModel)]="userData.dataNascimento" />
    <input type="text" name="pais" placeholder="País" [(ngModel)]="userData.pais" />
  </div>

  <!-- Campos para Jornalistas -->
  <div *ngIf="userType === 'jornalista'">
    <input type="text" name="nome" placeholder="Nome" [(ngModel)]="userData.nome" />
    <input type="email" name="email" placeholder="E-mail" [(ngModel)]="userData.email" />
    <input type="date" name="dataNascimento" placeholder="Data de Nascimento" [(ngModel)]="userData.dataNascimento" />
    <input type="text" name="pais" placeholder="País" [(ngModel)]="userData.pais" />
    <input type="text" name="jornalRevista" placeholder="Jornal/Revista onde trabalha" [(ngModel)]="userData.jornalRevista" />

  </div>

  <button (click)="onSignUp()">Cadastrar</button>

</form>
