<div>
  <label>
    Status da partida:
    <select [(ngModel)]="filterStatus" (change)="filterPartidas()">
      <option value="">Todos</option>
      <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
    </select>
  </label>
  
  <label>
    Nome do Campeonato:
    <input type="text" [(ngModel)]="filterChampionship" (input)="filterPartidas()" />
  </label>
  
  <label>
    Pesquisar Campeonato:
    <input type="text" [(ngModel)]="searchQuery" (input)="filterPartidas()" />
  </label>
</div>

<div *ngFor="let status of filteredPartidasKeys">
  <h2>{{ status }}</h2>
  <div *ngFor="let championship of getChampionshipKeys(status)">
    <h3>{{ championship }}</h3>
    <ul>
      <li *ngFor="let partida of filteredPartidas[status][championship]">
        <ng-container *ngIf="status === 'Evento Futuro'">
          {{ partida.teamA }} vs {{ partida.teamB }} <br>{{ partida.date }} <br> {{ partida.time }}
        </ng-container>
        <ng-container *ngIf="status === 'Ao-Vivo'">
          {{ partida.teamA }} {{ partida.scoreA }} vs {{ partida.scoreB }} {{ partida.teamB }}
        </ng-container>
        <ng-container *ngIf="status === 'Finalizado'">
          {{ partida.teamA }} {{ partida.scoreA }} vs {{ partida.scoreB }} {{ partida.teamB }} <br> {{ partida.date }} <br> {{ partida.time }}
        </ng-container>
        <br>
        <button (click)="onPartidaClick(partida)">Ver Detalhes</button>
      </li>
    </ul>
  </div>
</div>


<div *ngIf="selectedPartida">
  <h3>Detalhes da Partida</h3>
  <p>{{ selectedPartida.teamA }} vs {{ selectedPartida.teamB }}</p>
  <p>Data: {{ selectedPartida.date }}</p>
  <p>Horário: {{ selectedPartida.time }}</p>
  <p>Campeonato: {{ selectedPartida.championshipName }}</p>
  <p>Fase: {{ selectedPartida.phase }}</p>
  <p>Estádio: {{ selectedPartida.stadium }}</p>
  <p>Localização: {{ selectedPartida.location }}</p>
</div>

<button [routerLink]="['/baseball-prognosticos']">Prognósticos</button>
<button [routerLink]="['/baseball-noticias']">Notícias</button>

