<div class="container">
    <!-- Logo do site -->
    <div class="logo">
        <img src="assets/logo.png" alt="Logo do site" />
    </div>

    <!-- Formulário de login -->
    <form class="login-form" (submit)="onSignIn(); $event.preventDefault()">
        <div class="input-group">
            <label for="login">Login</label>
            <!-- Adicionando vinculação de dados para email -->
            <input type="email" id="login" name="login" [(ngModel)]="userData.email">
        </div>
        <div class="input-group">
            <label for="password">Senha</label>
            <!-- Adicionando vinculação de dados para senha -->
            <input type="password" id="password" name="password" [(ngModel)]="userData.password">
        </div>
        <button type="submit">Entrar</button>
    </form>

    <!-- Link para a tela de cadastro -->
    <div class="register-link">
        <a [routerLink]="['/cadastro']">Cadastre-se</a>
    </div>
</div>
