<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div>
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" ngModel required>
    </div>
  
    <div>
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" ngModel required>
    </div>
  
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
  </form>
  <button (click)="onRegister()">Cadastrar-se</button>