

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@include mat.core();

$Receboxd-primary: mat.define-palette(mat.$indigo-palette);
$Receboxd-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Receboxd-warn: mat.define-palette(mat.$red-palette);

$Receboxd-theme: mat.define-light-theme((
  color: (
    primary: $Receboxd-primary,
    accent: $Receboxd-accent,
    warn: $Receboxd-warn,
  )
));

@include mat.all-component-themes($Receboxd-theme);

body {
    background-color: #c2f0c2;  /* Verde muito claro, quase branco */
    color: #006400;  /* Verde bem escuro para o texto */
    font-family: 'Oswald', sans-serif;  /* Definindo a fonte universal como Oswald-Regular */
    margin: 0;
    padding: 0;
}

input, textarea, select, button, input[type="button"], input[type="submit"] {
    font-family: 'Oswald', sans-serif;  /* Definindo a fonte Oswald para campos de preenchimento e botões */
}

input, textarea, select {
    background-color: #98FB98;  /* Verde claro para campos de preenchimento */
    color: #006400;  /* Verde bem escuro para o texto dentro dos campos de preenchimento */
    border: 1px solid #006400; 
    padding: 8px;
    margin: 4px 0;  
    border-radius: 4px;  
}

input::placeholder, textarea::placeholder {
    color: #A9A9A9; 
}

input:focus, textarea:focus, select:focus {
    outline: none;  
    border-color: #32CD32;  /* Verde médio para o foco dos campos */
}

button, input[type="button"], input[type="submit"] {
    background-color: #32CD32;  /* Verde médio para os botões */
    color: #F0FFF0;  /* Verde muito claro para o texto nos botões */
    border: 1px solid #006400; 
    padding: 8px 12px;  
    margin: 4px 0;  
    border-radius: 4px;  
    cursor: pointer;  
    transition: background-color 0.3s, color 0.3s; 
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #228B22;  /* Verde um pouco mais escuro para o hover dos botões */
    color: #F0FFF0;  
}

button:focus, button:active, input[type="button"]:focus, input[type="submit"]:focus, input[type="button"]:active, input[type="submit"]:active {
    outline: none;  
    border-color: #228B22; 
}

.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .mat-icon {
    margin-right: 20px;
  }
  
  @font-face {
    font-family: 'NBA Font';
    src: url('assets/fonts/nba.ttf') format('truetype');
  }

  .sport-name {
    color: white; /* Manter a cor do texto como branco */
    font-family: 'NBA Font', sans-serif; /* Usar a fonte NBA que você definiu */
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    filter: brightness(1); 
  }  
  
  .sport-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(0.5);
    position: relative;
  }


  .sport-container:hover {
    filter: brightness(1);
  }
  

html, body { height: 100%; }
body { margin: 0; font-family: 'Oswald', sans-serif;  /* Definindo a fonte universal como Oswald-Regular */
        @supports (font-variation-settings: normal){
        font-family: 'Oswald', sans-serif;
        } 
    }
